.product {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    margin: 10px;
    padding:20px;
    width:100%;

    background-color:white;
    align-items: center;
    z-index: 1;
}
.product > img { 
    max-height: 300px;
    width:100%;
    object-fit: contain;
    margin-bottom:25px;
    margin-top: -40px;

}

.product > button {
    padding: 10px 25px;
    border-radius: 8px;
    background-color: rgb(0, 112, 209);
    border-color: rgb(0, 112, 209);
    border:1px solid;
    color: white;
    transition: background-color 0.3s;

}
.product > button:hover{
    background-color: rgb(0, 223, 255);
}
.product > button:active{
    transform: scale(0.95);
}
.product_rating {
    display:flex;
    flex-direction: row;
}
.product_info {

    height: 100px;
    margin-bottom:15px
}
.product_price {
    margin-top:5px
}